# Mongo
MONGODB_URI=mongodb://localhost:27017/crypto-ballotn

# Server
PORT=4000
CLIENT_ORIGIN=http://localhost:5173

# Auth
JWT_SECRET=devsupersecret
JWT_EXPIRES_IN=7d

# Initial admin (created on first boot if no admin exists)
ADMIN_EMAIL=admin@crypto.local
ADMIN_PASSWORD=admin123
ADMIN_NAME=Super Admin
